{% extends 'estilos/base.html' %}
{% block content %}

<form action="{% url 'loja_admin_app:cadastroUser' %}" method="POST">
    <label for="name">Nome:</label>
    <input type="text" placeholder="Nome..." name="nome">
    <br><br>
    <label for="name">Email:</label>
    <input type="email" placeholder="Email..." name="email">
    <br><br>
    <label for="name">Senha:</label>
    <input type="password" placeholder="Senha..." name="senha">
    <br><br>
    <label for="celular">Telefone:</label>
    <input type="text" placeholder="(00)00000-0000..." name="telefone">
    <br><br>
    <input type="submit" value="Cadastrar">

</form>

{% endblock %}